.navbar_pargrah{
    padding-top: 17px;
     
      color: #828A91;
}
.navbar_title{
    color: #363C40
}
.navbar_icon{
    padding-top: 17px;
    
     color: #828A91
}
.social{
    display: flex;
    justify-content: space-around;

}
.social img{
    width: 100px;
}